#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: #353b48;
  height: auto;
  width: 600px;
  border-radius: 5px;
  padding: 20px;
}

.input_todo {
  background-color: #353b48;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}

.input_area input {
  outline: none;
  border: none;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: #2f3640;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn button {
  background-color: #4cd137;
  color: #f5f6fa;
  outline: none;
  border: none;
  height: 45px;
}

.display_todo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}

.todos {
  background-color: #2f3640;
  width: 50%;
  height: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0px;
}
