@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f5f6fa;
    font-family: 'Quicksand', sans-serif;
}
.error h1 {
    font-size: 80px;
}
.error img {
    width: 600px;
    height:600px;
}