@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.side {
  background-color: #2f3640;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper_panel {
 
  width: 100vw;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.lower_panel {
 
  width: 100vw;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city img {
  width: 250px;
  height: 250px;
}

.search {
 
  width: 100vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {

  width: 100vw;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.temp {
  width: 100vw;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp p {
  font-size: 50px;
}
.main {
 background-color: #353b48;
  height: 100vh;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.name p{
  font-size: 20px;
  font-family: sans-serif;
}

.days {
  background-color: #2f3640;
  height: 90vh;
  width: 250px;
  border-radius: 80px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.daypart{
  margin: 70px;
}
.daypart p {
  font-size: 30px;
}
.dayimgae {
  margin: 70px;
}
.daytemp {
  margin: 70px;
}
.input {
 outline: none;
 border: none;
 padding: 10px;
 border-radius: 10px;
}