@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.products {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.ptitle p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    font-size: 50px;
    color: #f5f6fa;
    height: 100px;
    width: 99vw;
 
}
.list {
    height: auto;
    width: 100vw;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}